{% extends "base.html" %}

{% block title %}BFF Logger{% endblock %}

{% block content %}
    
<!-- Top Banner -->
<header class="top-banner">
    <div class="top-banner-inner">
        <!-- Left Side: Username -->
        <div class="banner-username-display">
            {{ request.session.get('username') }}
        </div>

        <!-- Right Side: Actions -->
        <div class="banner-actions" data-signals="{table: 'activity-logs', follow_page : '0', follow_acsending : true}" >
            <button class="btn-header"
                data-class-active="$table === 'activity-logs'"
                data-on-click="@get('/admin/activity-logs/')"
            >Activity Logs
            </button>
            <button class="btn-header"
                data-class-active="$table === 'follow-logs'"
                data-on-click="@get('/admin/follow-logs/')"
            >Follow Logs
            </button>
            <button class="btn-header"
                data-class-active="$table === 'missing-logs'"
                data-on-click="@get('/admin/missing-logs/')"
            >Missing Machines
            </button>
            <button class="btn-header-admin"
                data-signals="{show_signals: false}"
                data-on-click="$show_signals = !$show_signals"
                data-class-active="$show_signals"
                >SIGNALS
            </button>
            <button class="btn-header-admin"
                data-signals="{show_session: false}"
                data-on-click="$show_session = !$show_session"
                data-class-active="$show_session"
                >SESSION
            </button>
            <a href="/" class="btn-header">Forms</a>
            <a href="/logout" class="btn-header">Logout</a>
        </div>
    </div>
</header>

<div class="content-wrapper" id="content-wrapper">
    <!-- Debug Panel Sidebar -->
    <aside id="debug-panel" class="debug-panel-card" style="display: none" data-show="$show_session || $show_signals">
        
        <pre style="display: none" class="json-code-block" data-json-signals data-show="$show_signals"></pre>
        <div style="display: none" class="json-code-block" data-show="$show_session">
            {% for key, value in request.session.items() %}
            <div class="flex flex-wrap">
                <span class="session-key">{{ key }}</span>: <span class="session-value break-all">{{ value }}</span>
            </div>
            {% endfor %}
        </div>
    </aside>


    <!-- Main Content Body-->
    <main class="main-content" id="main-content" data-signals="{disable_paging_left: true, disable_paging_right: false}" >
            
        <!-- Pager and Sort Controls -->
        <div class="table-controls" style="display: none;" data-show="$table === 'follow-logs'" >
            <button class="btn-control"
            data-attr-disabled="$disable_paging_left"
                data-on-click="$follow_page -= 1, @get('/admin/follow-logs/')"
            >
                - 20
            </button>
            <button class="btn-control"
                data-attr-disabled="$disable_paging_right"
                data-on-click="$follow_page += 1, @get('/admin/follow-logs/')"
            >
                + 20
            </button>
            <button class="btn-control"
                data-on-click="$follow_acsending = !$follow_acsending, @get('/admin/follow-logs/')"
                data-text="$follow_acsending ? 'Ascending' : 'Descending'">
            </button>
        </div>

        <!-- Pager and Sort Controls -->
        <div class="table-controls" style="display: none;" data-show="$table === 'missing-logs'" >
            <button class="btn-control"
            data-attr-disabled="$disable_paging_left"
                data-on-click="$follow_page -= 1, @get('/admin/missing-logs/')"
            >
                - 20
            </button>
            <button class="btn-control"
                data-attr-disabled="$disable_paging_right"
                data-on-click="$follow_page += 1, @get('/admin/missing-logs/')"
            >
                + 20
            </button>
            <button class="btn-control"
                data-on-click="$follow_acsending = !$follow_acsending, @get('/admin/missing-logs/')"
                data-text="$follow_acsending ? 'Ascending' : 'Descending'">
            </button>
        </div>

  

        <div class="table-container" id="table-container" data-on-load="@get('/admin/activity-logs/')"></div>
    </main>
</div>
{% endblock %}